.containerWidget{
    display: flex;
    padding: 9px 25px;
    background-color: rgba(0, 136, 139, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    color: beige;
}

.buttonCart{
    /* padding: 9px 25px; */
    background-color: rgba(0, 136, 139, 1);
    border: none;
    /* border-radius: 50px;
    cursor: pointer; */
    text-decoration: none;
    color: beige;
}



.containerWidget:hover{
    background-color: rgba(0, 136, 139, 0.2);
}