.card{
    width: 300px;
    height: 300px;
    border-radius: 8px;
    background-color:darkslategray;
    box-shadow: 3px 5px 5px rgba(3, 32, 51, 0.8);
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content span{
    margin-bottom: 20px;
}

.img-container img{
    width: 300px;
    height: 150px;
}
