.itemContainer{
    display: flex;
    justify-content: center;
    background-color: black;
    color: aliceblue;
    padding: 20px;
    border: solid #fff 2px;
    margin-bottom: 10px;
}

.imgItemContainer{
    width: 300px;
    height: 200px;
}

.imgItemContainer img {
    width: 300px;
    height: 200px;
}

.containerItemDescripcion{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    padding-left: 20px;
}