.botonera{
    display:flex;
    flex-direction: row;
    margin-left: 10px;
    align-items: center;
}

.botonera button{
    width: 150px;
    height: 60px;
}

.count {
    display: flex;
    background-color: #fff;
    height: fit-content;
    align-items: stretch;
    justify-content: space-between;
    margin-right: 10px;
    align-items: center;

}

.count p{
    width: 50px;
    border:none;
    text-align:center;
    caret-color: transparent;
    outline:none;
    font-size: small;
    color: black;
}

.count button{
    border:1px solid blue;
    background:blue;
    color:#fff;
    width: 30px;
}







